/* Gaya Umum */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Mulai dari atas */
    height: 100vh;
    overflow-y: hidden;
    background: url("bg.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    border: 1px solid #ffffff80;
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
}

h1 {
    font-size: 30px;
    color: #ddd;
    margin-bottom: 20px;
    margin-top: 5px;
}

h2, h3 {
    color: #ddd;
}

label {
    display: block;
    color: #ddd;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

a {
    display: block;
    margin-top: 20px;
    color: white;
    background-color: #25d366;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}

/* Gaya untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff80;
}

.logo {
    width: 10rem;
}

/* Gaya Responsif untuk Mobile */
@media (max-width: 768px) {
    body {
        padding: 10px;
        align-items: center; /* Mengatur kontainer agar tetap di tengah secara vertikal */
    }

    .container {
        width: 100%;            /* Menyesuaikan lebar agar sesuai dengan layar mobile */
        max-width: 100%;         /* Mengatur lebar maksimum agar tidak terlalu besar */
        margin: 0 10px;          /* Memberikan sedikit margin di sisi kiri dan kanan */
        max-height: 85vh;        /* Menjaga tinggi maksimum agar container tidak terlalu panjang */
    }

    h1 {
        font-size: 24px;         /* Mengurangi ukuran font pada heading */
    }

    button, input, select, a {
        font-size: 16px;         /* Menyesuaikan ukuran font */
    }

    .logo {
        width: 8rem;             /* Mengurangi ukuran logo */
    }

    table, th, td {
        font-size: 14px;         /* Menyesuaikan ukuran teks di dalam tabel */
    }
}
